#preloader {
    width: 100vw;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 1000000;
    text-align: center;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.dot-pulse, .loader, .snippet, .stage {
    position: relative
}

#loading-image {
    position: absolute;
    top: 49%;
    left: calc(50% - 30px);
    z-index: 100
}

.loader, .loader:after, .loader:before {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation: 1.8s ease-in-out infinite load7;
    animation: 1.8s ease-in-out infinite load7
}

.dot-pulse, .dot-pulse::after, .dot-pulse::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #eb4944;
    color: #eb4944
}

.loader {
    color: #eb4944;
    font-size: 5px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.loader:after, .loader:before {
    content: '';
    position: absolute;
    top: 0
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.loader:after {
    left: 3.5em
}

@-webkit-keyframes load7 {
    0%, 100%, 80% {
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes load7 {
    0%, 100%, 80% {
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.snippet {
    padding: 2rem 5%;
    margin: 1.5rem 0;
    font-size: 24px;
    top: 50%;
    color: #eb4944
}

.examples .snippet:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    content: attr(data-title);
    font-size: .75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #fff;
    background-color: #ff1964;
    border-radius: .25rem 0
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden
}

.dot-pulse {
    left: -9999px;
    box-shadow: 9999px 0 0 -5px #eb4944;
    animation: 1.5s linear .25s infinite dotPulse;
    margin-left: 20px
}

.dot-pulse::after, .dot-pulse::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #eb4944;
    animation: 1.5s linear infinite dotPulseBefore
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #eb4944;
    animation: 1.5s linear .5s infinite dotPulseAfter
}

@keyframes dotPulseBefore {
    0%, 100%, 60% {
        box-shadow: 9984px 0 0 -5px #eb4944
    }
    30% {
        box-shadow: 9984px 0 0 2px #eb4944
    }
}

@keyframes dotPulse {
    0%, 100%, 60% {
        box-shadow: 9999px 0 0 -5px #eb4944
    }
    30% {
        box-shadow: 9999px 0 0 2px #eb4944
    }
}

@keyframes dotPulseAfter {
    0%, 100%, 60% {
        box-shadow: 10014px 0 0 -5px #eb4944
    }
    30% {
        box-shadow: 10014px 0 0 2px #eb4944
    }
}