#preloader{
    width: 100vw; height: 100vh; background: #000; position: fixed; z-index: 1000000;
}
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Firefox Older versions*/
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}
#loading-image {
    position: absolute;
    top: 49%;
    left: 47%;
    z-index: 100;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #EB4944;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.snippet {
    position: relative;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    font-size: 24px;
    top: 50%;
    color: #EB4944;
}

.examples .snippet:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    content: attr(data-title);
    font-size: .75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
    background-color: rgb(255, 25, 100);
    border-radius: .25rem 0 .25rem 0;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EB4944;
    color: #EB4944;
    box-shadow: 9999px 0 0 -5px #EB4944;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
    margin-left: 20px;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EB4944;
    color: #EB4944;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #EB4944;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #EB4944;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #EB4944;
    }
    30% {
        box-shadow: 9984px 0 0 2px #EB4944;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #EB4944;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #EB4944;
    }
    30% {
        box-shadow: 9999px 0 0 2px #EB4944;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #EB4944;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #EB4944;
    }
    30% {
        box-shadow: 10014px 0 0 2px #EB4944;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #EB4944;
    }
}
