@import "menu.css";

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/heebo/Heebo-Black.eot');
    src: url('../fonts/heebo/Heebo-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo/Heebo-Black.woff') format('woff'),
    url('../fonts/heebo/Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo Light';
    src: url('../fonts/heebo/Heebo-Light.eot');
    src: url('../fonts/heebo/Heebo-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo/Heebo-Light.woff2') format('woff2'),
    url('../fonts/heebo/Heebo-Light.woff') format('woff'),
    url('../fonts/heebo/Heebo-Light.ttf') format('truetype'),
    url('../fonts/heebo/Heebo-Light.svg#Heebo Light') format('svg');
}

@font-face {
    font-family: 'Heebo-regulyar';
    src: url('../fonts/heebo/Heebo-Regular.eot');
    src: url('../fonts/heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo/Heebo-Regular.woff2') format('woff2'),
    url('../fonts/heebo/Heebo-Regular.woff') format('woff'),
    url('../fonts/heebo/Heebo-Regular.ttf') format('truetype'),
    url('../fonts/heebo/Heebo-Regular.svg#Heebo') format('svg');
}

:root {
    --color-black: #000;
    --color-red: #EB4944;
    --color-red-transparent: rgba(235, 73, 68, .8);
    --color-pink: #F5A4A2;
    --color-blue: #4767ED;
    --color-grey-bg: #F9F9F9;
    --color-dark-bg: #232323;
    --top: 10px;
    --topH: 50px;
}

body {
    font-family: Heebo-regulyar, serif;
}

.main {
    background: var(--color-black);
    background-image: url("../images/red-bg-1.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.dark {
    background: var(--color-black);
}

.middle-content {
    background: url("../images/bgrows.png") repeat-x;
}

#colorlib-main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.99);
    z-index: 1002;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    overflow-y: scroll;
}

#colorlib-main-nav .colorlib-table {
    display: table;
    width: 100%;
    height: 100%;
}

#colorlib-main-nav .colorlib-table .img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#colorlib-main-nav .colorlib-table .img:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
}

#colorlib-main-nav .colorlib-table .colorlib-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.menu-show #colorlib-main-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#colorlib-main-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    letter-spacing: 2px;
}

#colorlib-main-nav ul li a {
    display: block;
    color: white;
    padding: 5px 0;
}

#colorlib-main-nav ul li a:hover, #colorlib-main-nav ul li a:active, #colorlib-main-nav ul li a:focus {
    outline: none;
    text-decoration: none;
    color: var(--color-red);
}

#colorlib-main-nav ul li a:hover span:before, #colorlib-main-nav ul li a:active span:before, #colorlib-main-nav ul li a:focus span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#colorlib-main-nav ul li.active a span {
    color: #E5E5E5;
}

#colorlib-main-nav ul li.active a span:before {
    background: #E5E5E5;
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

header {
    padding: 26px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}

header .colorlib-navbar-brand {
    float: left;
}

.hero-wrap {
    background: #202020;
}

.arr {
    background: url("../images/union.svg");
    width: 58px;
    height: 58px
}

.pl-arrow {
    background: url("../images/union.svg") no-repeat;
    padding-left: 75px;
    margin-left: 21px;
}

.mtop-18 {
    margin-top: 24px
}

/*margin-top: 18px;}*/
.hero-wrap .slider-text .desc h1 {
    font-size: 6vw;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.pt-100 {
    padding-top: 88px
}

.transaction-block {
    margin-left: 98px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 14px;
    height: 130px;
}

.hero-wrap .slider-text .desc h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.logo {
    margin-left: 20px
}

.grid-bg {
    background-image: url("../images/bgrows.png");
    background-repeat: repeat-y;
    padding-top: 120px
}

.hamburger {
    margin-right: 30px;
    float: right
}

.close-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #fff;
}

.close-menu:hover {
    color: #fff;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.text-orange {
    color: var(--color-red);
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    font-family: Heebo;
}

.small-text {
    font-size: 16px;
    line-height: 26px;
    color: #c4c4c4;
    font-family: 'Heebo Light';
}

.font-20 {
    font-size: 20px
}

.gradiented {
    background: conic-gradient(from 135deg at 50% 50%, rgba(255, 163, 160, 0.1) 0deg, var(--color-red) 136.05deg, rgba(255, 163, 160, 0.1) 360deg);
}

.liner-grid {
    width: 720px;
    height: 717px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 17.92%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 44.08%), linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 40.28%), url(bg5@4x.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(-90deg);
}

.mt-btn {
    margin-top: 17px
}

.red-button {
    padding: 0;
    width: 160px;
    height: 44px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    font-family: Heebo-regulyar;
    color: #FFF;
    background: var(--color-pink);
    border-radius: 0;
margin-top: 10px;
    text-decoration: none;
}
.button-container{
    background: var(--color-red);
    width: 160px;
    height: 44px;
    padding: 10px 16px;
    position: relative;
    z-index: 3;
    transition: all ease-in-out .3s;
    color: #FFF;
    top:0;
    left: 0;
    text-align: center;
}
.red-button:hover .button-container{
    top:-6px;
    left: 6px;
    color:#fff;
    text-decoration: none;
}
.transparent-button:hover .button-container{
    top:-5px;
    left: 5px;
    text-decoration: none;
}
.ml-3{margin-left: 3px}

.transparent-button {
    background: var(--color-pink);
    padding: 0;
    width: 120px;
    height: 44px;
    border-radius: 0;
    position: relative;
    border: 0 none;
    left: 33px;
    margin-top: 10px;
    text-decoration: none;
}
.transparent-button .button-container{
    background: #000;
    border: 1px solid var(--color-red);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    font-family: Heebo-regulyar;
    width: 120px;
    height: 44px;
    color: var(--color-red);
}
.top-left-1 {
    height: 720px;
    /*padding-top: 70px;*/
    display: flex;
    justify-content: center;
    justify-items: center;
}

.title1 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-family: Heebo;
    font-weight: 900;
}

.delimiter {
    height: 100px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 6.33em 4em;

}

.next-step {
    background: url("../images/grid.png") repeat-x;
    padding-bottom: 45px;
}

.carpe-diem {
    border-right: 1px solid rgba(255, 255, 255, .3);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 6.33em 6.33em;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.delimiter2 {
    height: 12em;
    border-right: 1px solid rgba(255, 255, 255, .3);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 6.33em 6.33em;
}

.transaction li {
    width: 186px;
    height: 120px;
    background: var(--color-red);
    display: inline-block;
    margin-left: -2px;
    position: relative;
}

.transaction li:last-child {
    margin-left: -3px
}

.transaction-item {
    transition: all 0.2s;
    padding: 20px 0 0 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 186px;
    height: 120px;
    background: #fff;
}

.transaction {
    padding-left: 0 !important;
}

.transaction li:hover .transaction-item {
    left: 8px;
    bottom: 8px;
}

.price {
    font-family: Heebo;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-dark-bg);
}

.muted {
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    font-family: Heebo-regulyar;
}

.delimiter3 {
    height: 100px;
}

.custom-m-6 {
    margin-left: 6em
}

a .subtitle{
    font-size: 20px;
    line-height: 24px;
    font-family: Heebo;
    color: var(--color-dark-bg);
    text-transform: uppercase;
    text-decoration: none;

}

.half p {
    font-size: 16px;
    line-height: 20px;
    color: var(--color-dark-bg);
    font-family: "Heebo Light";
    margin-top: 24px;
}

.half {
    background: #fff;
    width: 50%;
    float: left;
    outline: 1px solid var(--color-dark-bg);
    min-height: 225px;
    background: var(--color-blue);
    position: relative;
}

.inner {
    padding: 30px;
    position: absolute;
    left: 0;
    background: #fff;
    bottom: 0;
    height: 225px;
    transition: all ease-in-out .3s;
}

.half:hover .inner {
    left: 6px;
    bottom: 7px;
    background: #f6f6f6;
    padding: 30px 27px;
}

.pb-60 {
    padding-bottom: 6em
}

.pt-8 {
    padding-top: 120px;
}

.pb-double {
    padding-bottom: 81px
}

.pl-8 {
    padding-left: 71px
}

.pt-double {
    padding-top: 94px
}

.footer {
    background: #fff;
    padding-top: 6em;
}

.mt-double-180 {
    margin-top: 180px
}

.max-width-size {
    max-width: 1122px;
}

.img-recs {
    margin-top: 0px;
}

.red-border {
    border: 1px solid var(--color-red);
}

.mt-24 {
    margin-top: 24px
}

.ml-24 {
    margin-left: 24px
}

.social-icons {
    display: block;
    padding: 10px 16px;
    gap: 8px;
    width: 54px;
    height: 44px;
    color: #FFF;
    background: var(--color-red);
    border-radius: 0;
    margin-right: 1px;
    border-right: 2px solid #fff;
    position: absolute;
}

.first-item {
    left: 0;
    bottom: 0;
    transition: all ease-in-out .3s
}

.icons {
    background: var(--color-black);
    border: 0 none;
    padding: 0;
    position: relative;
    width: 54px;
    height: 44px;
}

.icons:hover .first-item {
    left: 5px;
    bottom: 5px
}

.bottom-shadow {
    box-shadow: 0px 1px 0px rgba(235, 73, 68, 0.2);
}

.copy {
    color: #C4C4C4;
    font-size: 14px;
    line-height: 21px
}

.user-name {
    font-family: Heebo;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #F9F9F9;
    margin-top: 15px;
}

.position-name {
    color: #C4C4C4;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

/*Carousel styles*/
.item-red-border {
    border-right: 1px solid var(--color-red);
    padding-left: 20px !important;
}

.team-img {
    width: 72px !important;
}

.img-wrapper {
    padding: 5px;
    width: 83px;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all ease-in-out .3s;
}

.partner-logo {
    width: 138px !important;
}

.social-links a {
    display: inline-block !important;
}

.twitter {
    width: 24px;
    height: 24px;
}
.in {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.twitter img:hover {
    filter: invert(55%) sepia(39%) saturate(7457%) hue-rotate(334deg) brightness(93%) contrast(100%);
}

.in img:hover {
    filter: invert(55%) sepia(39%) saturate(7457%) hue-rotate(334deg) brightness(93%) contrast(100%);
}

.social-links a img {
    width: 24px !important;
}

.angle-left {
    display: inline-block;
    background: url("../images/carousel/left.svg");
    width: 16px;
    height: 12px;
    margin-top: 14px;
}

.angle-right {
    display: inline-block;
    background: url("../images/carousel/right.svg");
    width: 16px;
    height: 12px;
    margin-top: 14px;
}

.owl-nav button {
    border-radius: 0 !important;
    background: var(--color-pink)!important;
}
.owl-nav button .button-inner{
    position: relative;
    border: 1px solid var(--color-red) !important;
    width: 44px;
    height: 44px;
    background: #000;
    transition: all ease-in-out .3s;
    left: 0;
    top:0;
}
.owl-nav button:hover .button-inner {
    background: #000;
    left: 4px;
    top:-4px
}

.owl-carousel-team .owl-next, #owl-carousel-advisors .owl-next {
    position: absolute;
    top: -100px;
    right: 0px;
}

.owl-carousel-team .owl-prev, #owl-carousel-advisors .owl-prev {
    position: absolute;
    top: -100px;
    right: 50px;
}

.owl-carousel .owl-nav.disabled {
    display: none
}

.carousel-title {
    width: 250px;
}

#owl-carousel-partners .owl-item {
    margin-top: 5px;
    /*border-left: 1px solid;*/
    border-right: 1px solid;
}
#owl-carousel-partners .owl-item a{
    background: #000;
    display: block;
}
#owl-carousel-partners .owl-item a .item{
    position: relative;
    background: #fff;
    left: 0;
    top: 0;
    transition:all linear .3s;
    /*border-right: 1px solid;*/
}

#owl-carousel-partners .owl-item a:hover .item{
    top: -6px;
    left: 6px;

}

.partner-item {
    height: 186px;
}
#partners-block {
    background: url(../images/partner-grid.png) no-repeat;
    min-height: 560px;
    background-size: 100%;
    padding-top: 5px;
}

.mt-partners {
    margin-top: 105px
}

.grid-2 {
    background-image: url("../images/block_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 96%;
    background-color: #000000;
}

.list-title {
    font-family: Heebo;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #f9f9f9;

}

.q-blocks {
    padding-left: 0;
    margin-top: 32px
}

.q-blocks li {
    list-style-type: none;
    font-family: "Heebo Light";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.q-item {
    box-shadow: -1px 0 0 var(--color-pink);
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 30px
}

.q-item.active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -2px 0 0 var(--color-red);
}

.q-item.active .list-title {
    color: var(--color-red)
}

.q-blocks li::before {
    content: "◼ ";
    color: #fff;
    font-size: 14px;
    margin-right: 5px
}

.q-item.active .q-blocks li::before {
    content: "◼ ";
    color: var(--color-red);
}

.p-80 {
    padding-top: 80px;
    padding-bottom: 80px
}
.height-100{height: 100%}
.rectangles {
    display: block;
    transition: all 10s linear;
    height: 520px;
}
.recs{transition: all .3s;}
.rectangle_{
    width: 540px;
    height: 490px;
    background: url("../images/layers.svg") no-repeat;
}

.rectangle_:hover {
    width: 540px;
    padding-top: 50px;
    height: 440px;
    background: url(../images/layers_scrolled.svg) no-repeat;
    background-position: top center;
}
#road-map{padding-bottom: 170px}
.rec-item {
    position: absolute;
    background: url("../images/rec-item.png");
    width: 340px;
    height: 193px;
    -webkit-transition: top 1.5s;
    transition: top 1.5s;
    right: 98px;
}
.footer-sub-title{font-weight: 900; font-size: 20px; line-height: 24px; text-align: center; text-transform: uppercase}
.it {
    margin-left: 10px
}

#owl-carousel-advisors, .owl-carousel-team {
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

.top-1 {
    top: calc(var(--top));
}

.top-2 {
    top: calc(var(--top) * 8);
}

.top-3 {
    top: calc(var(--top) * 16);
}

.top-4 {
    top: calc(var(--top) * 24);
}

.top-5 {
    top: calc(var(--top) * 32);
}

.parallel .top-1 {
    top: calc(var(--topH));
}

.parallel .top-2 {
    top: calc(var(--topH) * 2);
}

.parallel .top-3 {
    top: calc(var(--topH) * 3);
}

.parallel .top-4 {
    top: calc(var(--topH) * 4);
}

.parallel .top-5 {
    top: calc(var(--topH) * 5);
}

#big-menu {
    height: 80vh;
    text-align: right;
    padding-right: 120px;
    padding-top: 6%;
}

#big-menu li {
    font-size: 20px;
    line-height: 50px;
    font-family: "Heebo Light";
    color: #fff
}

#big-menu li a {
    text-decoration: none;
    color:#fff;
}
#big-menu li a.active, #big-menu li a:hover {
    text-decoration: none;
    color:#fff;
    padding-right: 10px;
    border-right: 1px solid var(--color-red);
}

.menu-icon {
    display: grid;
    place-items: center;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.menu-icon > span {
    width: 20px;
    transition: all ease-in-out .3s;
}

.menu-icon:hover span:nth-child(1) {
    justify-self: start;
    transition: all ease-in-out .3s;
}
body.nav-active .menu-icon:hover span:nth-child(1){
    justify-self: auto;
}
body.nav-active .menu-icon:hover span:nth-child(2){
    justify-self: auto;
}
.menu-icon:hover span:nth-child(2) {
    justify-self: end;
    transition: all ease-in-out .3s;
}
body.nav-active .menu-icon:hover
.menu-icon.active span:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
}

.menu-icon .line-1 {
    width: 20px;
    justify-self: center;
}

.menu-icon .line-2 {
    width: 20px;
    justify-self: center;
}


stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

/* Use the colors to transition to */
#rect {
    display: inline-block;
    width: 374px;
    margin-left: 95px;
}

.gradient-anim {
    transform-origin: 50px 50px;
    /*animation: bgRotate 5s infinite linear;*/
    transition: all 3s;
    background: conic-gradient(from 36deg at 50% 50%, rgba(34, 34, 34, 0.5) 0deg, rgba(34, 34, 34, 0.1) 360deg)
}

.infin {
    width: 372px;
    height: 376px;
    margin-top: 5px;
    padding-top: 0
}

.rs {
    width: 93px;
    height: 94px;
    display: inline-block;
    margin-left: -3px;
    margin-bottom: -1px;
    animation: bgRotate 5s infinite linear;
    transition: all 3s;
}

.carpe {
    margin-top: 20px;
    padding-right: 70px
}

.w-left-50 {
    width: 50%;
    float: left
}

.w-left-60 {
    width: 660px;
    float: left
}

.w-left-40 {
    width: min(40%,460px);
    float: left
}
.overflow-h{overflow: hidden}
#market{height: 652px}
.big-z{z-index: 9000}



.grid {
    font-size: 18px;
    width: 370px;
    height: 370px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0.625em;
    padding: 1.25em;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #EB4944;
}
.square {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: var(--color);
    animation: var(--animation-name) ease-in-out 2s infinite;
}
.square:nth-child(1),.square:nth-child(3),.square:nth-child(5), .square:nth-child(7),.square:nth-child(9),
.square:nth-child(11),.square:nth-child(13),.square:nth-child(15),.square:nth-child(17),.square:nth-child(19),
.square:nth-child(21),.square:nth-child(23),.square:nth-child(25),.square:nth-child(27),.square:nth-child(29),
.square:nth-child(31),.square:nth-child(33),.square:nth-child(35)
{
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(2) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
{
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(4) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(5) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(6) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(7) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(8) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(9) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(10) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(11) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(12) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(13) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(14) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(15) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(16) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(17) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(18) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(19) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(20) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(21) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(22) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(23) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(24) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(25) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(26) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(27) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(28) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(29) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(30) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(31) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(32) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(33) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(34) {
    --color: #fff;
    --animation-name: animate-white;
}
.square:nth-child(35) {
    --color: #EB4944;
    --animation-name: animate-blue;
}
.square:nth-child(36) {
    --color: #fff;
    --animation-name: animate-white;
}
@keyframes animate-white {
    25% {
        clip-path: polygon(0 0, 100% 0, 0% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 0, 100% 100%, 0% 100%, 0 100%);
    }
    75% {
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
    }
}
@keyframes animate-blue {
    25% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 0);
    }
    75% {
        clip-path: polygon(100% 0, 100% 0, 0 100%, 0 0);
    }
    100% {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }
}



@media (min-width: 1400px) {
    .recs {
        display: block
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .max-width-size {
        max-width: 900px;
    }
    .grid-bg {
        background-image: url(../images/bgrows-medium-big.png);
        background-repeat: repeat-y;
    }
    #rect{margin-left: 60px}
    .infin {
        width: 320px;height: 320px; margin-top: 30px;
    }
    .rs {
        width: 80px;
        height: 80px;}
    .w-left-60 {
        width: 60%;}
    .carousel-title {
        width: 60%;
    }
    .rectangle_s {
        width: 360px;
        height: 490px;
        background: url(../images/layers_scrolled.svg) no-repeat;
        background-size: 60%;
        background-position: top center;
    }
    .rectangle_ {
        width: 360px;
        height: 490px;
        background: url(../images/layers.svg) no-repeat;
        background-size: contain;
        background-position: top center;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .recs {
        display: none
    }
    #owl-carousel-partners .owl-prev {
        /*display: none;*/
        position: absolute;
        top: -160px;
        right: 55px;
    }

    #owl-carousel-partners .owl-next {
        /*display: none;*/
        position: absolute;
        top: -160px;
        right: 5px;
    }
    .w-left-50 {
        width: 50%;
        float: left;
    }
    .w-left-60 {
        width: max(460px,60%);
        float: left
    }
    .w-left-40 {
        width: min(310px,40%);
        float: left
    }
    .grid-bg {
        background-image: url(../images/bgrows-medium.png);
        background-repeat: repeat-y;
    }
    .max-width-size {
        max-width: 760px;
    }
    .infin{    margin: 20px auto;
        width: 280px;
        height: 277px;}
    #market{background: url("../images/grid-760.png") repeat; height: 652px}
    .next-step{background-image: none}

    .pt-double{padding-top: 56px}
    #rect {margin-left: 10px; margin-top: 10px}
    .transaction-block{margin-left: 5px;width: 700px;padding-top: 0; margin-top: 68px}
    .mt-double-180 {
        margin-top: 102px;
    }
    .rs{width: 70px; height: 70px}
    .red-button{margin-bottom: 30px}
    .red-border{height: 44px}
}

@media (max-width: 767px) {
    .grid {
        width: 320px;
        height: 300px;}
    .recs {
        display: none
    }
    #owl-carousel-partners .owl-prev {
        /*display: none;*/
        position: absolute;
        top: -160px;
        right: 55px;
    }

    #owl-carousel-partners .owl-next {
        /*display: none;*/
        position: absolute;
        top: -160px;
        right: 5px;
    }
    .red-border{height: 44px}
    .w-left-50 {
        width: 100%;
        float: left
    }

    .w-left-60 {
        width: 100%;
        float: left
    }

    .w-left-40 {
        width: 100%;
        float: left
    }

    #colorlib-main-nav ul {
        padding: 20px 0 0 0;
    }

    .max-width-size {
        max-width: 100%;
    }

    .transaction-block {
        margin: 5px auto;
        display: block;
    }

    .next-step {
        height: 745px
    }

    .grid-bg {
        background-image: none;
    }

    .subtitle {
        margin-top: 10px
    }

    .rectangles {
        display: none
    }

    .q-item {
        box-shadow: none
    }

    .mt-partners {
        margin-top: 30px;
    }

    #owl-carousel-partners .owl-prev, #owl-carousel-partners .owl-next {
        top: -87px;
        position: absolute;
        right: 55px;
    }

    #colorlib-main-nav {
        width: 80%;
    }

    #big-menu {
        padding: 77px 30px 0 0 !important;
    }
    .grid-bg {
        background-image: url(../images/bgrows-600.png);
        background-repeat: repeat-y;
    }
    .max-width-size {
        max-width: 600px;
    }
    .half {
        width: 100%
    }
    #partners-block {
        background: url(../images/partner-grid.png) repeat-y;
        min-height: 383px;
        background-size: 100%;
        padding-top: 5px;
    }
    .main{background-image: none}
    .title1{font-size: 38px}
    .content-1 {
        -moz-box-ordinal-group: 1;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .content-2 {
        -moz-box-ordinal-group: 2;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
    #market{background: url("../images/grid-600.png") repeat; min-height: 840px}
    #key-features{margin-top: 0px!important;}
    .infin{margin: 5px auto}
}

@media (max-width: 640px) {
    .active_header{background: #000
    }
    .grid {
        width: 320px;
        height: 300px;}
    .recs {
        display: none
    }
    .w-left-50 {
        width: 100%;
        float: left;
        text-align: center;
    }
    .w-left-60 {
        width: 100%;
        float: left;
        text-align: center;
    }
    .w-left-40 {
        width: 100%;
        float: left;
        text-align: center;
    }
    .grid-bg {
        background-image: url(../images/bgrows-small.png);
        background-repeat: repeat-y;
    }
    .max-width-size {
        max-width: 382px;
    }
    .half {
        width: 100%
    }
    #partners-block {
        background: url(../images/partner-grid.png) repeat-y;
        min-height: 383px;
        background-size: 100%;
        padding-top: 5px;
    }
    #colorlib-main-nav {
        width: 80%;
    }
    #big-menu {
        padding: 77px 30px 0 0 !important;
    }
    .next-step {
        min-height: 1780px;
        background-size: 94%
    }
    .pl-arrow {
        margin-top: 80px;
        padding-left: 45px;
        background-size: 8%;
        text-align: left;
    }
    .half {
        width: 100%;
        min-height: 280px
    }
    .half .inner {
        height: 100%
    }
    .subtitle {
        margin-top: 50px
    }
    .text-width {
        width: 100%;
        max-width: 300px;
    }
    .subtitle {
        margin-top: 10px
    }
    .rectangles {
        display: none
    }
    .q-item {
        box-shadow: none
    }
    .mt-partners {
        margin-top: 30px;
    }

    #owl-carousel-partners .owl-prev {
        position: absolute;
        top: -87px;
        right: 55px;
    }

    #owl-carousel-partners .owl-next {
        position: absolute;
        top: -87px;
        right: 5px;
    }
    .footer {
        padding-top: 1em;
    }
    .footer .subtitle {
        margin-top: 40px
    }
    #rect, #rect svg {
        width: 320px !important;
        height: 320px
    }
    #rect {
        margin: 0 auto
    }
    .t-center {
        text-align: center
    }
    .main{background-image: none; overflow: hidden}
    .dark{overflow: hidden}
    .title1{font-size: 38px}
    .pt-double{padding-top: 0}
    .next-step{background-image: none}
    .mt-double-180{margin-top: 0; background: var(--color-black)}
    .carpe{padding-right: 10px;min-height: 350px}
    .transaction li{display: block; width: 100%}
    .transaction-item{width: 100%}
    .rs {
        width: 75px;
        height: 75px;}
    .infin {
        width: 300px;
        height: 300px; margin: 5px auto}
    .red-button{margin-bottom: 30px}
    .content-1 {
        -moz-box-ordinal-group: 1;
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .content-2 {
        -moz-box-ordinal-group: 2;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

/*loader style*/

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Firefox Older versions*/
    -o-transform: translate(-50%,-50%); /* Opera */
    transform: translate(-50%,-50%);
}
/* box fall preloader */
.sq-wrapper {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    text-align: center;
}

.sq-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none transparent;
    overflow: hidden;
}

.sq-fill {
    background: none #FD4401;
    width: 100%;
    height: 100%;
}

.loader > div::after {
    content: "LOADING ASSETS";
    position: absolute;
    white-space: nowrap;
    top: 1.875em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
    letter-spacing: 0.125em;
    font-size: 1.075em;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}
